.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.margin-bottom-10{
  margin-bottom: 10px;
}

.black-bg-color{

  background-color: #000

}
.navbar-brand{
  height: 10%!important;
  padding: 0!important;
  margin-left: 20px;
}
.container {
    width: 90%!important;
}

.nav-item {
  margin-right: 30px;
}

.inp {
  width: 100%;
  border: 2px solid;
  border-radius: 4px;
  padding-left: 7px;

}

.col-md-3, .col-md-4 {
    margin-top: 10px;
}

.row {
    width: 92%;
    padding-left: 10%;
}
/* .jumbotron
{
    background: url('freestocks-org-618080-unsplash.jpg') no-repeat center center; 
    background-size: contain;
    background-position: center;
} */